<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="/static/recuperar_contrasena.css">
</head>

<body>

    <center>

        <h2>Recuperar contraseña</h2>

        <p>Ingrese su correo para recuperar su contraseña</p>

        <form>

            <input type="email" placeholder="Correo electrónico">

            <br><br>

            <button type="submit">Enviar recuperación</button>

        </form>

        <br>

        <a href="/">Volver al login</a>

    </center>

</body>

</html>